@CHARSET "UTF-8";

html{background-color:#000;}

#contentWrapper{background:#000 url(lesson-plan-btn-sml.png) 50px 25px no-repeat;width:1024px;height:768px;margin:0 auto 0; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

#search{width:650px;margin:-15px auto 0;padding-top:20px; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#keyword{float:left;margin-top:65px;width:300px;height:40px;font-size:1.5em;	-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-indent:10px;}
#dosearch{float:left;background:url(Search-box.png) -587px 0 no-repeat;height:50px; width:90px;margin:65px 30px 0 -8px;border-width:0px;}
#grade{float:left;margin-top:65px; width:150px;height:45px; font-size:1.5em;	-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

#iframeBox{float:left;width:716px;min-height:572px;margin:60px 0 0 308px;background:#fff url(book-bgrnd.png) 0 0 no-repeat; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#resultsimg{margin:170px 0 0 30px;background:#000 url(results-header.png) 0 0 no-repeat;height:65px;width:232px;}
#searchresults{float:left;margin:-507px 0 0 10px;width:285px;min-height:375px;max-height:510px;overflow:auto;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-color:#000;}
#theframe{margin:50px 80px;width:500px;height:400px;}
#next{float:left;width:100px;margin:10px 0 0 -200px;}
.results{border-bottom:1px solid #000;margin:3px;padding:3px;
	background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 64%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(64%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 64%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ebebeb 0%,#ffffff 64%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 64%); /* IE10+ */
	background: linear-gradient(top, #ebebeb 0%,#ffffff 64%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#goTo{margin:-35px 0 0 80px;background: url(go-to-site-btn.png) 0 0 no-repeat;width:193px;height:51px;}
#addLesson{margin:-51px 0 0 340px;background: url(add-to-lesson-btn.png) 0 0 no-repeat;width:247px;height:51px;}


/*
.gradient30{
	background-color: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 64%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(64%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 64%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ebebeb 0%,#ffffff 64%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 64%); /* IE10+ */
	background: linear-gradient(top, #ebebeb 0%,#ffffff 64%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
*/

